<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ucsc.crop.presentation"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:theme="@style/CustomTheme" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Crop"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CropSearch" class=".CropSearch" />
        <activity android:name=".CropList" />
 <activity android:name="Screen2" class=".Screen2" android:label="Screen 2">
      </activity>
    </application>
    <uses-sdk android:minSdkVersion="6" />
    <uses-permission android:name="android.permission.INTERNET" /> 

</manifest> 